{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}


{% block title %}
Chosen Boardgame: {{ bg_name }}
{% endblock %}


{% block content %}

<div class="message-box centered">
  <img src="{{ bg_image }}" alt="Photo: {{ bg_name }}">
  <p><em>You should play {{ bg_name }}</em></p>
  <p><em>Supports {{ min_players }}-{{ max_players }} Players</em></p>
  <p><em>Plays in under {{ playing_time }} minutes</em></p>
  <p>
    <em>Don't like your choice? Try</em>
    <a href="{{ url_for('boardgame') }}" class="btn btn-primary">Again</a>
    <em>or </em>
    <a href="https://boardgamegeek.com/collection/user/{{ username }}">View entire collection</a>
  </p>
  <p><a href="{{ url_for('index') }}">Return to home page</a></p>
</div>

{% endblock %}
